QWidget, QMainWindow, QMenuBar, QMenu, QDialog, QTabWidget, QTableView, QTableView::item, QScrollArea, QGroupBox, QPlainTextEdit, QLineEdit
{
    background-color: #303335;
    color: #c5cad3;
}

QLabel {
    background: transparent;
    color: #c5cad3;
}

QGroupBox#groupBox QLabel {
    background: transparent;
    color: #f2f0f0;
}

QTabWidget QTabBar::tab {
padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;
border: 1px solid #525355;
background-color: #212121;
}

QTabWidget QTabBar::tab:selected {
min-height: 10px;
background-color: #141414;
color:#fff;
border: 1px ridge #000;
}

QTabWidget QTabBar::tab:hover {
background-color: #747577;
color: #f2f0f0;
border: 1px ridge #f2f0f0;
min-height: 20px
}

QHeaderView { /* Table Header */
background-color:#212121;
}

QHeaderView::section { /* Table Header Sections */
qproperty-alignment:center;
background-color: #212121;
color:#f2f0f0;
min-height:25px;
font-weight:bold;
font-size:11px;
outline:0;
border:1px solid #525355;
border-right:1px solid #fff;
border-left:1px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

QHeaderView::section:last {
border-right: 0px solid #d7d7d7;
}

QScrollArea {
background:transparent;
border:0px;
}

QScrollBar { /* Scroll Bar */

}

QScrollBar:vertical { /* Vertical Scroll Bar Attributes */
border:0;
background:#303335;
width:18px;
margin: 18px 0px 18px 0px;
}

QScrollBar:horizontal { /* Horizontal Scroll Bar Attributes */
border:0;
background:#303335;
height:18px;
margin: 0px 18px 0px 18px;
}


QScrollBar::handle:vertical { /* Scroll Bar Slider - vertical */
background:#212121;
min-height:10px;
border: 1px solid #f2f0f0
}

QScrollBar::handle:horizontal { /* Scroll Bar Slider - horizontal */
background:#212121;
min-width:10px;
border: 1px solid #f2f0f0;
}

QScrollBar::add-page, QScrollBar::sub-page { /* Scroll Bar Background */
background:#303335;
border: 1px solid #f2f0f0;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal { /* Define Arrow Button Dimensions */
background-color:#303335;
border: 1px solid #f2f0f0;
width:16px;
height:16px;
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background-color:#303335;
}

QScrollBar::sub-line:vertical { /* Vertical - top button position */
subcontrol-position:top;
subcontrol-origin: margin;
}

QScrollBar::add-line:vertical { /* Vertical - bottom button position */
subcontrol-position:bottom;
subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal { /* Vertical - left button position */
subcontrol-position:left;
subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal { /* Vertical - right button position */
subcontrol-position:right;
subcontrol-origin: margin;
}

QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow { /* Arrows Icon */
width:10px;
height:10px;
}

QScrollBar:up-arrow {
background-image: url(':/images/blue/res/images/blue/blue_upArrow_small');
}

QScrollBar:down-arrow {
background-image: url(':/images/blue/res/images/blue/blue_downArrow_small');
}

QScrollBar:left-arrow {
background-image: url(':/images/blue/res/images/blue/blue_leftArrow_small.png');
}

QScrollBar:right-arrow {
background-image: url(':/images/blue/res/images/blue/blue_rightArrow_small.png');
}



QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
background:#212121;
}

QTableView::item { /* Table Item */
background-color:#303335;
border:1px solid #fff;
font-size:12px;
}

QTableView::item:selected { /* Table Item Selected */
background-color:#c5cad3;
color:#212121;
}

QPushButton  { /* Global Button Style */
    background-color: #212121 ;
    border:1px solid #c5cad3;
    border-radius:13px;
    color:#c5cad3;
    font-size:12px;
    font-weight:bold;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    min-height:15px;
    }
    
QPushButton:hover,
.QPushButton:hover {
    background: #747577;
    color: #c5cad3;
}
    
QPushButton:focus {
    border:none;
    outline:none;
}
    
QPushButton:pressed {
    border:1px solid #333;
}
QStatusBar {
    background: #212121;
    border: 0;
    color: #c5cad3;
    height: 36px;
    min-height: 36px;
    padding: 0;
}

QMenuBar {
    background-color: #212121;
}
    
QMenuBar::item {
    background-color:#212121;
    color: #c5cad3;
}
    
QMenuBar::item:selected {
    background-color:#747577;
    border: 1px solid #c5cad3;
}

QMenu {
    background-color:#303335;
    padding-left: 15px;
    padding-right: 15px;
}
    
QMenu::item {
    color:#c5cad3;
}
    
QMenu::item:selected {
    background-color:#212121;
    color:#c5cad3;
    border: 1px solid #c5cad3;
}
    

QCheckBox {
    spacing: 5px;
}
    
QCheckBox::indicator {
    width: 16px;
    height: 16px;
}
    
QCheckBox::indicator:unchecked {
    image:url(':/images/blue/res/images/blue/unchecked');
}
    
QCheckBox::indicator:unchecked:hover {
    image:url(':/images/blue/res/images/blue/unchecked');
}
    
QCheckBox::indicator:unchecked:pressed {
    image:url(':/images/blue/res/images/blue/checked');
}
    
QCheckBox::indicator:checked {
    image:url(':/images/blue/res/images/blue/checked');
}
    
QCheckBox::indicator:checked:hover {
    image:url(':/images/blue/res/images/blue/checked');
}
    
QCheckBox::indicator:checked:pressed {
    image:url(':/images/blue/res/images/blue/unchecked');
}
    
QCheckBox::indicator:indeterminate:hover {
    image:url(':/images/blue/res/images/blue/unchecked');
}
    
QCheckBox::indicator:indeterminate:pressed {
    image:url(':/images/blue/res/images/blue/checked');
}

