:root {
    --main-bg:  !important;
    --back-bg:  !important;
    --accent-bg:    !important;
    --text-main:    !important;
    --text-accent:  !important;
    --button-normal: rgb(186, 190, 194) !important;
    --button-hover:     !important;
    --button-pressed:   !important;


}




WalletFrame {
    /*border-image: url(':/images/blue/res/images/blue/blue_walletFrame_bg') 0 0 0 0 stretch stretch; */
    border-top:0px solid #000;
    margin:0;
    padding:0;
    background: #f6f7f8;
    }
    
}

QTabWidget QTabBar::tab {
padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;
border: 1px solid #525355;
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #DADADA, stop: 1 #747577);
color:#fff;
}

QTabWidget QTabBar::tab:selected {
min-height: 10px;
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #747577, stop: 1 #DADADA);
color:#000;
border: 1px ridge #000;
}

QTabWidget QTabBar::tab:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #747577, stop: 1 #DADADA);
color:#000;
border: 1px ridge #fff;
min-height: 20px
}

QHeaderView { /* Table Header */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #DADADA, stop: 1 #747577);
}

QHeaderView::section { /* Table Header Sections */
qproperty-alignment:center;
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #DADADA, stop: 1 #747577);
color:#fff;
min-height:25px;
font-weight:bold;
font-size:11px;
outline:0;
border:1px solid #747577;
border-right:1px solid #fff;
border-left:1px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

QHeaderView::section:last {
border-right: 0px solid #d7d7d7;
}

QScrollArea {
background:transparent;
border:0px;
}

QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
background:#DADADA;
}

QTableView::item { /* Table Item */
background-color:#DADADA;
border:1px solid #fff;
font-size:12px;
}

QTableView::item:selected { /* Table Item Selected */
background-color:#747577;
color:#fff;
}

QMenuBar {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #DADADA, stop: 1 #747577);
color: #fff;
}

QMenuBar::item {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #DADADA, stop: 1 #747577);
color: #fff;
}

QMenuBar::item:selected {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #747577, stop: 1 #DADADA);
color:#000;
}

QPushButton  { /* Global Button Style */
    background-color: var(--button-normal) !important;
    border:0;
    border-radius:10px;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    padding-left:25px;
    padding-right:25px;
    padding-top:5px;
    padding-bottom:5px;
    min-height:25px;
}
    
QPushButton:hover,
.QPushButton:hover {
    background: rgb(186, 190, 194);
    color: #FFF;
}
    
QPushButton:focus {
    border:none;
    outline:none;
}
    
QPushButton:pressed {
    border:1px solid #333;
}