bin/
debug/
build/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
res/libsodium/win/
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
zero-qt-wallet
zero-qt-wallet.app
ZeroWallet.app
zero-qt-wallet-mingw*
zero-qt-wallet.vcxproj*
zerowallet.vcxproj*
zero-qt-wallet.sln
zerowallet.pro.user
Makefile
Makefile.*
qrc_application.cpp
zero-qt-wallet_plugin_import.cpp
zerowallet_plugin_import.cpp
zerowallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
zerod
zero-cli
zerowallet.exe
zerowallet
IDEWorkspaceChecks.plist
*.sln
node_modules
zero-qt-wallet.pro.user
